.button-red {
    -fx-background-color: #FC0404;
    -fx-text-fill: white;
    -fx-background-radius: 5em;
    -fx-padding: 0em 0.8em;
    -fx-font-size: 13px;
}

.button-red:hover {
    -fx-background-color: #FF4747;
}

.button-yellow {
    -fx-background-color: #FF9300;
    -fx-text-fill: white;
    -fx-background-radius: 5em;
    -fx-padding: 0em 0.8em;
    -fx-font-size: 13px;
}

.button-yellow:hover {
    -fx-background-color: #FFB043;
}

.button-green {
    -fx-background-color: #00A921;
    -fx-text-fill: white;
    -fx-background-radius: 5em;
    -fx-padding: 0em 0.8em;
    -fx-font-size: 13px;
}

.button-green:hover {
    -fx-background-color: #00CF28;
}

.button-blue {
    -fx-background-color: #165DD8;
    -fx-text-fill: white;
    -fx-background-radius: 5em;
    -fx-padding: 0em 0.8em;
    -fx-font-size: 13px;
}

.button-blue:hover {
    -fx-background-color: #3D7EF0;
}
